*{
    margin: 0;
    padding: 0;
}
.slide1{
    background-image: url(../../assets/Images/banner01.png);
    height: 640px;
    position: relative;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.slide2{
    background-image: url(../../assets/Images/banner02.jpg);
    height: 640px;
    position: relative;
    background-size: contain;
    background-position: center;

    background-repeat: no-repeat;
}
.slide3{
    background-image: url(../../assets/Images/banner03.jpg);
    height: 640px;
    position: relative;
    background-position: center;

    background-size: contain;
    background-repeat: no-repeat;
}
.slider-section{
    width: 100vh;
    height: 1000px;
    position: relative;
}
@media only screen and (max-width:600px) {
    .slide1,.slide2,.slide3{
        height: 70vh
    }
}